body{
    background: #4aaaa5;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
h1, h2 {
    color:#4aaaa5;
    font-family: font-family: 'Georgia', Times, Times New Roman, serif;
}
header, .main, .footer{
    margin:10px;
}
header{
    background: #ffffff;
    border:#cccccc;
    border:2px dotted red;
}
h1{
    margin-left: 400px;
    display: inline;
    background:#4aaa;
    padding:51px;
   
}
.current{
    margin-left:1020px;
}

nav li {
    display: inline;
    width:20%;
    margin:10px;
}
nav li a:hover{
    color:red;
}
section.main{

    background-image: url("img/light-grey-terrazzo.png");
    width: 100%;
    height: 75%;
    z-index: 1;
    position: absolute;
}
section.content{
    width:960px;
    background: #ffffff;
    border: #dddddd;
    z-index: 3;
    position: relative;
    margin-left: 400px;
    margin-top:70px;
    padding:10px 20px;
    border:2px solid red; /*for me to see*/
}
.content>p {
    position: relative;
    float:right;
    overflow: auto;
    border: 2px dotted red;/*for me to see*/
}
.content>article{
    float:right;
    border: 2px dotted green;
    margin-top: -100px;
}
.footer{
    border:2px dotted black;
    height: 30px;
    margin-top: 600px;
    position: relative;
    clear:both;
    background: #666666;
    color: white;
    text-align: center;
    border-top: 8px solid #4aaaa5;
}/*css for porfolio*/
section.content2{
    width:30%;
    background: #ffffff;
    border: #dddddd;
    z-index: 3;
    height: 65%;
    position: relative;
    margin-left: 460px;
    margin-top:70px;
    padding:20px 20px;
    border:2px dotted green;
}

.pic{
    float:left;
    overflow: auto;
}
div img {
    margin-left:20px;
}

/*css for contact*/
section.content1{
    width:40%;
    background: #ffffff;
    border: #dddddd;
    z-index: 3;
    position: relative;
    margin-left: 400px;
    margin-top:70px;
    padding:20px 20px;
}
h2, form>p, form>input, form>textarea {
    margin-left:10px;
    margin-top:3px;
    
}
form>input{
    width:100%;
}
form>input.submit{
    background: #4aaaa5;
    color:white;
    width:20%;
}
form>textarea{
    width: 100%;
    height: 90px;
}