body{
    background: #4aaaa5;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
h1, h2 {
    color:#4aaaa5;
    font-family: font-family: 'Georgia', Times, Times New Roman, serif;
}
header{
    background: #ffffff;
    border:#cccccc;
}
section.main{

    background-image: url("img/light-grey-terrazzo.png");
    width: 100%;
    z-index: 1;
    position: absolute;
}
section.content{
    width:960px;
    background: #ffffff;
    border: #dddddd;
    z-index: 3;
  
    
}